body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-start;
	justify-content: space-around;
}
h1 {
	color: #339966;
}
.full {
	flex-basis: 100%;
	text-align: center;
}
.error {
	background: #EEE;
	color: red;
	display: none;
}

.dog-results {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 960px;
}
.dog-result {
	flex-basis: 25%;
	width: 25%;
}
.dog-result.single {
	flex-basis: 100%;
	width: 100%;
}

.search-wrapper {
	margin: 1rem;
	padding: 1rem;
}

input {
	display: block;
	margin: 0.5rem;
}